@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
html, body, main {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-family: "Comfortaa", cursive;
}

.header {
  width: 100%;
  height: 128px;
  background-color: #FFFFFF;
}

.header__nav {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav > div {
  margin-right: 8px;
}

.header__main {
  height: 48px;
  width: 161px;
  border: 1px solid #01082B;
  border-radius: 7px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__bar {
  width: 1px;
  background-color: #01082B;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__select {
  height: 30px;
  width: 164px;
  padding: 6px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #01082B;
  border-radius: 5px;
  font-size: 17px;
  line-height: 17px;
}

.header__select .header__bar {
  background-color: #FFFFFF;
}

.header__menu {
  height: 32px;
  width: 32px;
}

.header__cm {
  width: 100%;
  height: 80px;
  background-color: #01082B;
  line-height: 80px;
  text-align: center;
}

.container {
  padding: 0 30px;
}

.content__header {
  margin-top: 5px;
  width: 100%;
  height: 30px;
  padding: 7px 22px;
  background-color: #01082B;
  border-radius: 5px;
  font-size: 17px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.content__main {
  margin-top: 5px;
  width: 100%;
  min-height: 300px;
  background-color: #01082B;
  border-radius: 5px;
  padding: 0px 6px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 21, 51, 0.8);
  z-index: 1;
}

.menu__container {
  margin: 0 auto;
  margin-top: 101px;
  width: 313px;
  height: 461px;
  background-color: #01082B;
  z-index: 2;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  padding: 14px 5px;
}

.menu__header {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9px;
}

.menu__header span {
  padding: 0;
  display: block;
  height: 25px;
  font-size: 25px;
  line-height: 25px;
  font-style: bold;
}

.menu__cm {
  height: 53px;
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 5px;
  line-height: 53px;
  color: #01082B;
  text-align: center;
}

.menu__logo {
  height: 71px;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
}

.menu__nav {
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px;
  margin-top: 50px;
}

.menu__nav div {
  height: 31px;
  width: 71px;
  text-align: center;
  line-height: 31px;
  font-size: 17px;
  font-style: bold;
  background-color: #0F1533;
  border-radius: 5px;
}

.menu__login {
  width: 131px;
  height: 35px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #0F1533;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  font-style: bold;
  border-radius: 5px;
}

.menu__social {
  height: 30px;
  width: 190px;
  margin: 0 auto;
  margin-top: 30px;
}

.menu__social ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
