@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
html, body, main {
  color: #FFFFFF;
  font-family: "Comfortaa", cursive;
  min-width: 375px;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
}

.header__nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: #FFFFFF;
}

.header__nav .header__main, .header__nav .header__select, .header__nav .header__menu {
  margin-right: 8px;
}

.header__logo {
  width: 100px;
}

.header__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main {
  position: relative;
  height: 48px;
  /* width:327px; 161px*/
  border: 1px solid #01082B;
  background: #fff;
  border-radius: 7px;
  padding: 5px 8px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  z-index: 10;
}

.header__main div {
  margin-left: 8px;
}

.header__main .header__logo {
  margin-left: 0px;
}

.header__bar {
  width: 1px;
  height: 100%;
  background-color: #01082B;
  border-radius: 3px;
}

.header__search {
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__select {
  position: absolute;
  right: 40px;
  height: 30px;
  width: 158px;
  padding: 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #01082B;
  border-radius: 5px;
  font-size: 17px;
  line-height: 17px;
  z-index: 1;
}

.header__select .header__bar {
  margin-right: 0px;
  background-color: #FFFFFF;
}

.header__menu {
  position: absolute;
  right: 0px;
  height: 32px;
  width: 32px;
  z-index: 10;
}

.header__cm {
  margin-top: 48px;
  width: 100%;
  height: 80px;
  background-color: #01082B;
  line-height: 80px;
  text-align: center;
}

/* поиск */
.search-box {
  background: #0F1533;
  height: 32px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-btn {
  float: right;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.search-box:hover > .search-txt {
  width: 164px;
  padding-left: 10px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #FFFFFF;
  font-size: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 32px;
  width: 0px;
  transition: 0.4s;
}

/* конец поиска*/
.container {
  padding: 0 30px;
}

.container_2 {
  position: -webkit-sticky;
  position: sticky;
  top: 47px;
  z-index: 2;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

.container_3 {
  position: -webkit-sticky;
  position: sticky;
  padding: 0 25px;
  top: 47.5px;
  z-index: 2;
  background-color: #FFFFFF;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_4 {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 2;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

.container__player {
  min-width: 375px;
  height: 100%;
  margin-left: -36px;
  margin-right: -36px;
}

.rama {
  position: absolute;
  top: 37px;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  border-top: 5px solid #01082B;
  border-radius: 5px;
  z-index: 2;
  width: 100%;
  margin-right: 30px;
}

.content__box {
  border-radius: 7px;
  height: 402px;
  background-color: #01082B;
  margin-top: 7px;
}

.content__header {
  /*margin-top: 5px;*/
  width: 100%;
  height: 30px;
  padding: 7px 22px;
  background-color: #01082B;
  border-radius: 5px;
  font-size: 17px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.content__main {
  /*margin-top: 5px;*/
  width: 100%;
  min-height: 300px;
  background-color: #01082B;
  border-radius: 5px;
  padding: 10px 6px;
}

.content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  margin: 0 auto;
  padding: 0 6px;
  height: 80px;
  background-color: #01082B;
  border-radius: 5px;
  font-size: 18px;
  line-height: 20px;
}

.content__head img {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}

.content__info {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
  line-height: 18px;
}

.content__horizontal {
  width: 245px;
  height: 2px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.content__wrapper {
  width: 255px;
  height: 260px;
  margin: 0 auto;
  margin-top: 10px;
  background: #0F1533;
}

.content__initial {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
}

.content__left, .content__right {
  width: 123px;
  line-height: 22px;
}

.content__left span, .content__right span {
  position: relative;
  height: 35px;
  display: block;
  font-size: 16px;
  line-height: 35px;
}

.content__left input, .content__left select, .content__right input, .content__right select {
  height: 30px;
  width: 122px;
  outline: none;
  border: 1px solid rgba(72, 157, 255, 0.2);
  border-radius: 5px;
  background-color: #0F1533;
  color: #FFFFFF;
  margin: 0px 0px 5px 0px;
  padding: 2px 0px 2px 5px;
}

.content__left input[type='date'], .content__right input[type='date'] {
  position: relative;
  margin-bottom: -3px;
}

.content__left ::-webkit-datetime-edit, .content__left ::-webkit-clear-button, .content__left ::-webkit-calendar-picker-indicator, .content__right ::-webkit-datetime-edit, .content__right ::-webkit-clear-button, .content__right ::-webkit-calendar-picker-indicator {
  position: absolute;
}

.content__left ::-webkit-clear-button, .content__right ::-webkit-clear-button {
  right: 1.54em;
}

.content__left ::-webkit-inner-spin-button, .content__right ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content__left ::-webkit-calendar-picker-indicator, .content__right ::-webkit-calendar-picker-indicator {
  right: 0;
  padding: .539em .34em;
}

.content__left input[type='submit'], .content__right input[type='submit'] {
  position: relative;
  top: 15px;
  right: 67.5px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 5px;
}

.content__left .input__wrapper, .content__right .input__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}

.content__left .input__file, .content__right .input__file {
  margin-left: -55px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.content__left .input__file-button-text, .content__right .input__file-button-text {
  color: #ffffff;
  line-height: 35px;
  font-size: 15px;
  display: block;
  margin-left: 5px;
}

.content__left .input__file-button, .content__right .input__file-button {
  width: 100%;
  max-width: 290px;
  height: 35px;
  color: #01082B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  margin: 0 auto;
  border: 1px solid rgba(72, 157, 255, 0.2);
  background-color: #0F1533;
}

.content__right {
  width: 122px;
}

.content__right span::after {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  /*background-color: $color-bg;*/
  bottom: -1px;
  left: 0px;
}

.content__theme {
  margin: 0 auto;
  margin-top: 10px;
  width: 255px;
  height: 38px;
  background: #0F1533;
  border-radius: 5px;
  padding: 5px 0px 0px 10px;
}

.content__theme span {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.content__submit {
  width: 97px;
  height: 29px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all .218s ease 0s;
  transition: all .218s ease 0s;
}

.content__redact {
  text-align: center;
  width: 97px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.content__redact span {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #FFFFFF;
  /*background-color: $color-bg;*/
  width: 110px;
  margin: 0 auto;
  border-radius: 5px;
}

.content__exit {
  text-align: center;
  width: 131px;
  height: 35px;
  background: #0F1533;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 7px;
  padding: 5px;
}

.content__exit span {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ff0000;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 0;
  background: #ffffff;
  background-size: contain;
}

.menu, .login, .registr {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 21, 51, 0.8);
  z-index: 3;
}

.menu div, .login div, .registr div {
  z-index: 4;
}

.menu__container, .login__container, .registr__container {
  margin: 0 auto;
  margin-top: 80px;
  width: 313px;
  height: 461px;
  background-color: #0F1533;
  z-index: 2;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  padding: 13px 5px;
}

.menu__header, .login__header, .registr__header {
  position: relative;
  margin: 0 auto;
  width: 285px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9px;
  background-color: #01082B;
  border-radius: 7px;
}

.menu__header .content__horizontal, .login__header .content__horizontal, .registr__header .content__horizontal {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.menu__header .menu__login, .login__header .menu__login, .registr__header .menu__login {
  width: 145px;
  background: none;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  margin-top: -10px;
  margin-left: 30px;
  width: 145px;
  line-height: 35px;
  background: none;
  font-size: 18px;
  text-align: center;
}

.menu__header span, .login__header span, .registr__header span {
  padding: 0;
  display: block;
  height: 25px;
  font-size: 18px;
  line-height: 18px;
  font-style: bold;
}

.menu__header span:last-child(3), .login__header span:last-child(3), .registr__header span:last-child(3) {
  margin-top: 20px;
}

.menu__profile, .login__profile, .registr__profile {
  width: 255px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6px;
}

.menu__profile img, .login__profile img, .registr__profile img {
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -15px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}

.menu__mid, .login__mid, .registr__mid {
  width: 100%;
}

.menu__cm, .login__cm, .registr__cm {
  height: 53px;
  margin-top: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  line-height: 53px;
  color: #01082B;
  text-align: center;
}

.menu__logo, .login__logo, .registr__logo {
  height: 71px;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.menu__middle, .login__middle, .registr__middle {
  margin: 0 auto;
  margin-top: 33px;
  width: 163px;
  height: 30px;
}

.menu__nav, .login__nav, .registr__nav {
  margin: 0 auto;
  width: 270px;
  height: 31px;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #01082B;
  border-radius: 5px;
}

.menu__nav .menu__nax, .login__nav .menu__nax, .registr__nav .menu__nax {
  width: 251px;
  background-color: #01082B;
  border-radius: 5px;
}

.menu__nav div, .login__nav div, .registr__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 30px;
  width: 90px;
  text-align: center;
  line-height: 31px;
  font-size: 17px;
  font-style: bold;
}

.menu__login, .login__login, .registr__login {
  border: none;
  color: #FFFFFF;
  display: block;
  width: 131px;
  height: 35px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.03);
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  font-style: bold;
  border-radius: 5px;
}

.menu__social, .login__social, .registr__social {
  height: 30px;
  width: 190px;
  margin: 0 auto;
  margin-top: 25px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__social img, .login__social img, .registr__social img {
  width: 30px;
  height: 30px;
}

.menu__socialbottom, .login__socialbottom, .registr__socialbottom {
  height: 30px;
  width: 190px;
  margin: 0 auto;
  margin-top: 30px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__socialbottom img, .login__socialbottom img, .registr__socialbottom img {
  width: 30px;
  height: 30px;
}

.menu__select, .login__select, .registr__select {
  height: 30px;
  margin: 0 auto;
  padding: 6px 9px;
  background-color: #01082B;
  border-radius: 5px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bar, .login__bar, .registr__bar {
  width: 2px;
  height: 18px;
  border-radius: 1px;
  background-color: #FFFFFF;
}

.menu__select {
  padding: 6px 20px;
}

.login__container, .registr__container {
  padding: 13px 13px;
}

.login__logo, .registr__logo {
  margin-top: 25px;
}

.login__auth, .registr__auth {
  margin-top: 25px;
}

.login__auth .inp, .registr__auth .inp {
  background: rgba(255, 255, 255, 0.03);
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  padding: 7px;
  color: #FFFFFF;
  margin-top: 17px;
}

.login__auth .inp:nth-child(1), .registr__auth .inp:nth-child(1) {
  margin-top: 0px;
}

.login__auth .inp:focus, .registr__auth .inp:focus {
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.5);
}

.login__faggottext, .login__has, .registr__faggottext, .registr__has {
  display: block;
  width: 198px;
  height: 13px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}

.login__faggottext span, .login__has span, .registr__faggottext span, .registr__has span {
  display: block;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF0000;
  opacity: 0;
}

.login__has, .registr__has {
  margin: 0 auto;
  margin-top: 1px;
  padding: 0px;
  width: 100%;
  height: 16px;
}

.login__has span, .registr__has span {
  opacity: 0;
  line-height: 16px;
}

.login__faggot, .registr__faggot {
  display: block;
  margin: 0 auto;
  height: 15px;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
}

.login__faggot a, .registr__faggot a {
  text-decoration: none;
  color: #FFFFFF;
}

.login__login, .registr__login {
  margin-top: 27px;
}

.login__socialauth, .registr__socialauth {
  width: 133px;
  height: 75px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

.login__socialauth span, .registr__socialauth span {
  margin-top: 6px;
  display: block;
  text-align: center;
  height: 19px;
  font-size: 17px;
  line-height: 19px;
}

.login__socialauth div, .registr__socialauth div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login__socialauth div div, .registr__socialauth div div {
  margin-top: 6px;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registr__login {
  margin-top: 17px;
  width: 241px;
}

.registr input[type='password'] {
  margin-top: 0px;
}

.footer {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 10px 0px 10px;
}

.footer__logo {
  max-width: 113px;
  margin-top: 2px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375;
  height: 40px;
}

.footer__social {
  height: 30px;
  width: 190px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social img {
  width: 30px;
  height: 30px;
}

.footer__text {
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-right: -7px;
  margin-top: 0px;
}

.footer span {
  font-size: 9px;
  line-height: 8px;
  color: #01082B;
}

/* Прелоадер*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #01082B;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 auto;
  background: url("../img/preload/preload.png") no-repeat 50% 50%;
  /*расположение (url) изображения gif и др. параметры*/
  background-size: 70px 70px;
  background-position: center;
}

.preloader__image .preloader__change {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15% 0px 15%;
  padding-top: 500px;
}

.preloader__image .preloader__change img {
  width: 50px;
  display: block;
}

.loaded_hiding .preloader {
  -webkit-transition: 5s opacity;
  transition: 5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.selected {
  color: red;
}

.news {
  background-color: #0F1533;
  border-radius: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

.news__header {
  position: relative;
  margin: 5px 5px;
}

.news__header img {
  float: left;
  width: 135px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 5px;
}

.news__short {
  height: 100%;
  width: 100%;
}

.news__long {
  width: 100%;
  padding: 10px 5px;
}

.news__title {
  padding: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.news__bar {
  height: 1px;
  width: 203px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news__bar-1 {
  bottom: -5px;
  width: 100%;
}

.container-menu {
  padding: 0px 5px;
}

.container-1 {
  width: 100%;
  padding: 0 25px;
}

.stream-block, .none {
  display: none;
}

.news-btn, .all-btn {
  color: #ff0000;
}

a {
  text-decoration: none;
}

.news-item {
  position: relative;
  padding: 5px;
  margin-top: 5px;
  background-color: #0F1533;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  line-height: 13px;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  height: 84px;
  overflow: hidden;
  border-bottom: 1px solid #FFFFFF;
}

.news-item img {
  display: block;
  width: 110px;
  height: 74px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 5px;
}

/*
.news-bar {
  height: 1px;
  width: 203px;
  background-color: $color-second;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
*/
.news-title {
  width: 370px;
  padding: 5px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  margin: auto auto;
}

.content__news {
  padding: 1px 6px 10px 6px;
}

.news-cm {
  width: 100%;
  height: 53px;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  line-height: 53px;
  margin-top: 10px;
  color: #000000;
  border-radius: 5px;
}

.news__dialog {
  margin: 0 auto;
  background: #01082B;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}

.news__dialog input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
}

.news__comment {
  width: 132px;
  height: 20px;
  background: #0F1533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  padding: 2px 5px 2px 5px;
}

.news__comment input[type='text'] {
  padding: 4px 0px 2px 0px;
  outline: none;
}

.news__comment input[type='button'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 16px;
  max-height: 16px;
  outline: none;
  background: url("../img/dialog/chat.png");
  background-size: 100%;
}

.news__left {
  min-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__like, .news__dislike {
  max-width: 51px;
  height: 20px;
  background: #0F1533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 2px;
  padding: 2px 5px 2px 2px;
  margin-right: 14px;
}

.news__like input[type='number'], .news__dislike input[type='number'] {
  text-align: center;
  outline: none;
  margin: 0 auto;
  padding: 4px 0px 2px 2px;
}

.news__like input[type='button'], .news__dislike input[type='button'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 16px;
  max-height: 16px;
  outline: none;
  background: url("../img/dialog/like.png");
  background-size: 100%;
}

.news__dislike input[type='button'] {
  background: url("../img/dialog/dislike.png");
}

.news__share {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.news__share input[type='button'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 16px;
  max-height: 16px;
  outline: none;
  background: url("../img/dialog/share.png");
  background-size: 100%;
}

.container_5 {
  background: #01082B;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  z-index: 2px;
}

.box {
  margin: 0 auto;
  margin-left: 1px;
  margin-top: 3px;
  position: fixed;
  display: block;
  width: 265px;
  height: 75px;
  top: 100px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50%;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 50%;
}

.ellipse1 {
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

.ellipse2 {
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

.content__mainheader {
  position: relative;
  width: 255px;
  padding: 2px;
  background-color: #0F1533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__mainimg {
  width: 38px;
  height: 36px;
}

.content__mainimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__maininfo {
  font-size: 10px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 39px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__maininfo span {
  display: block;
  color: #FFFFFF;
}

.content__maininfo span:last-child {
  color: rgba(255, 255, 255, 0.7);
}

.content__player {
  width: 375px;
  height: 195px;
  background-color: #FFFFFF;
  top: 200px;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 2px #0F1533;
}

.content__player video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__cm {
  margin: 0 auto;
  margin-top: 1px;
  width: 305px;
  height: 40px;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #0F1533;
}

a {
  text-decoration: none;
}

.stream__item {
  margin-top: 10px;
  width: 100%;
  height: 52px;
  padding: 2px;
  border-bottom: 1px solid #FFFFFF;
}

.stream__img {
  width: 48px;
  height: 48px;
}

#newsBtn {
  color: #FF0000;
}

.sport__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 30px 0px 30px;
}

.game__block {
  border-bottom: 1px solid #a7a7a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 107px;
  height: 59px;
  background: #0F1533;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 26px;
}

.game__block a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__block a img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#loginSubmit, #FIFABLOCK, #ESPORTBLOCK {
  display: none;
}
